@media screen and (max-width: 1152px) {
  #wrapper {
    max-width: 960px;
  }
  #top-area .column:last-child {
    margin-right: 0;
  }
  #copyright {
    padding: 0 10px;
  }
}
@media screen and (max-width: 960px) {
  .content-sidebar-wrap,
  #content,
  #sidebar-first,
  #sidebar-second {
    float: none;
    clear: both;
    width: 100% !important;
  }
  #top-area .column {
    width: 32%;
  }
  #sidebar-first,
  #sidebar-second,
  #head,
  #foot {
    padding: 0 10px;
  }
  .region-front-welcome {
    margin: 1% 2%;
  }
}
@media screen and (max-width: 640px) {
  body {
    margin-top: 0;
    font-size: 13px;
  }
  #top-area .column,
  #footer-area .column,
  .two-widgets .region,
  .footer_credit p,
  .top_left,
  .top_right,
  #logo,
  #site-title,
  #site-title a,
  #site-description,
  .social-icons {
    width: 100%;
    clear: both;
    margin: 0;
  }
  .slide-show-wrap .region-search {
    position: static;
    width: 100%;
    clear: both;
    left: 0;
    margin: 0;
    padding: 10px;
  }
  .two-widgets {
    margin: 0;
  }
  .slide-show-wrap .region-search input.form-text {
    padding: 7px;
  }
  .slide-show-wrap .region-search input.form-text {
    padding: 5px;
  }
  .slide-show-wrap .region-search input.form-submit {
    font-size: 14px;
    padding: 10px 14px;
  }
  .slide-show-wrap .region-search {
    text-align: center;
  }
  .slide-show-wrap .region-search .form-item-search-block-form {
    width: auto;
  }
  .slide-show-wrap .region-search .form-actions {
    display: inline-block;
    width: auto;
  }
  .top-msg-wrap {
    padding: 15px;
  }
  .top-msg-wrap h1 {
    font-size: 13px;
    line-height: 160%;
  }
  #page-wrap {
    margin: 10px auto;
  }
  #top-area .column,
  #sidebar-first,
  #sidebar-second,
  #footer-area .column {
    padding: 0 15px;
  }
  #post-content article {
    padding: 15px;
  }
  #logo img {
    display: inline-block;
  }
  #header {
    text-align: center;
    margin-top: 10px;
  }
  .feature .fa {
    padding: 5px;
    height: 65px;
  }
  .theme-default .nivo-controlNav {
    padding-top: 10px;
  }
  #main-menu ul {
    display: none;
  }
  #main-menu li ul {
    position: static;
    border: 0;
  }
  #main-menu li ul ul {
    margin: 0 !important;
    border: 0;
  }
  #main-menu ul,
  #main-menu li {
    float: none;
    width: 100%;
  }
  #main-menu {
    border: 0;
    float: none;
  }
  #main-menu a {
    width: 100%;
    padding: 13px 0;
    color: #666;
    border-radius: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #b6b6b6;
  }
  #main-menu li li a {
    text-align: center;
    font-size: 14px;
    background: #44505c;
    border-top: 1px solid #b6b6b6;
  }
  #main-menu li:hover > ul,
  #main-menu li li:hover > ul,
  #main-menu li li li:hover > ul {
    display: none;
  }
  .drop-down-toggle {
    display: block;
  }
  #main-menu li li .drop-down-toggle {
    top: 5px;
  }
  .menu_wrapper {
    margin: 0;
  }
  #main-menu .nav-toggle {
    display: block;
    font-size: 15px;
    font-weight: normal;
    color: white;
    margin: 0;
    padding: 15px;
    letter-spacing: 1px;
    text-align: center;
    background: url(../images/mobile-menu.png) right 15px #18222b no-repeat;
  }
  #main-menu ul.menu li {
    margin: 0;
    width: 100%;
  }
  .theme-default .nivo-caption {
    display: none !important;
  }
  .node {
    margin: 10px 0;
  }
}
@media screen and (max-width: 440px) {
  input.form-text,
  select.form-select {
    width: 93%;
  }
  textarea.form-textarea {
    width: 100%;
  }
}
